{
  "storage": "./data/cache/",
  "reports": "./data/reports/",
  "logs": "./data/logs/",
  "log_stderr": true,
  "log_debug": false,

  "DISABLED_max_ram": "16G",
  "DISABLED_max_cores" : "4",

  "sonar_base_url": "https://opendata.rapid7.com",

  "censys_base_url": "https://www.censys.io/api/v1",
  "censys_api_id": "",
  "censys_secret": "",

  "czds_base_url": "https://czds.icann.org",
  "czds_token": "",

  "arin_api_key": "",

  "premiumdrops_username": "",
  "premiumdrops_password": "",
  "premiumdrops_urls" : [
    "https://www.premiumdrops.com/list.php?a=request_full_zone&f=biz",
    "https://www.premiumdrops.com/list.php?a=request_full_zone&f=com",
    "https://www.premiumdrops.com/list.php?a=request_full_zone&f=info",
    "https://www.premiumdrops.com/list.php?a=request_full_zone&f=mobi",
    "https://www.premiumdrops.com/list.php?a=request_full_zone&f=net",
    "https://www.premiumdrops.com/list.php?a=request_full_zone&f=org",
    "https://www.premiumdrops.com/list.php?a=request_full_zone&f=sk",
    "https://www.premiumdrops.com/list.php?a=request_full_zone&f=us",
    "https://www.premiumdrops.com/list.php?a=request_full_zone&f=xxx",
    "https://www.premiumdrops.com/list.php?a=request_zone&f=biz",
    "https://www.premiumdrops.com/list.php?a=request_zone&f=com",
    "https://www.premiumdrops.com/list.php?a=request_zone&f=info",
    "https://www.premiumdrops.com/list.php?a=request_zone&f=mobi",
    "https://www.premiumdrops.com/list.php?a=request_zone&f=net",
    "https://www.premiumdrops.com/list.php?a=request_zone&f=org",
    "https://www.premiumdrops.com/list.php?a=request_zone&f=sk",
    "https://www.premiumdrops.com/list.php?a=request_zone&f=us",
    "https://www.premiumdrops.com/list.php?a=request_zone&f=xxx",
    "https://www.premiumdrops.com/list.php?a=request_zone_changes&f=biz&t=diff",
    "https://www.premiumdrops.com/list.php?a=request_zone_changes&f=biz&t=new",
    "https://www.premiumdrops.com/list.php?a=request_zone_changes&f=com&t=diff",
    "https://www.premiumdrops.com/list.php?a=request_zone_changes&f=com&t=new",
    "https://www.premiumdrops.com/list.php?a=request_zone_changes&f=info&t=diff",
    "https://www.premiumdrops.com/list.php?a=request_zone_changes&f=info&t=new",
    "https://www.premiumdrops.com/list.php?a=request_zone_changes&f=mobi&t=diff",
    "https://www.premiumdrops.com/list.php?a=request_zone_changes&f=mobi&t=new",
    "https://www.premiumdrops.com/list.php?a=request_zone_changes&f=net&t=diff",
    "https://www.premiumdrops.com/list.php?a=request_zone_changes&f=net&t=new",
    "https://www.premiumdrops.com/list.php?a=request_zone_changes&f=org&t=diff",
    "https://www.premiumdrops.com/list.php?a=request_zone_changes&f=org&t=new",
    "https://www.premiumdrops.com/list.php?a=request_zone_changes&f=sk&t=diff",
    "https://www.premiumdrops.com/list.php?a=request_zone_changes&f=sk&t=new",
    "https://www.premiumdrops.com/list.php?a=request_zone_changes&f=us&t=diff",
    "https://www.premiumdrops.com/list.php?a=request_zone_changes&f=us&t=new",
    "https://www.premiumdrops.com/list.php?a=request_zone_changes&f=xxx&t=diff",
    "https://www.premiumdrops.com/list.php?a=request_zone_changes&f=xxx&t=new"
  ],

  "whoisxmlapi_base_url": "https://bestwhois.org",
  "whoisxmlapi_username": "",
  "whoisxmlapi_password": "",
  "whoisxmlapi_datasets": {
           "whois1": "/domain_name_data/domain_names_whois/",
           "whois2": "/domain_name_data/domain_names_whois2/",
      "gtld_whois1": "/ngtlds_domain_name_data/domain_names_whois/"
  },

  "wwwsio_username": "",
  "wwwsio_password": "",
  "wwwsio_base_url": "https://wwws.io/api",

  "caida_prefix2as_ipv4_base_url": "http://data.caida.org/datasets/routing/routeviews-prefix2as",
  "caida_prefix2as_ipv6_base_url": "http://data.caida.org/datasets/routing/routeviews6-prefix2as",

  "gov_domains_url": "https://raw.githubusercontent.com/GSA/data/gh-pages/dotgov-domains/current-full.csv",

  "govuk_domains_base_url": "https://www.gov.uk/government/publications/list-of-gov-uk-domain-names",

  "rir_delegation_urls" : [
    "http://ftp.arin.net/pub/stats/arin/delegated-arin-extended-latest",
    "http://ftp.ripe.net/ripe/stats/delegated-ripencc-latest",
    "http://ftp.ripe.net/ripe/stats/delegated-ripencc-extended-latest",
    "http://ftp.afrinic.net/pub/stats/afrinic/delegated-afrinic-latest",
    "http://ftp.afrinic.net/pub/stats/afrinic/delegated-afrinic-extended-latest",
    "http://ftp.lacnic.net/pub/stats/lacnic/delegated-lacnic-latest",
    "http://ftp.lacnic.net/pub/stats/lacnic/delegated-lacnic-extended-latest",
    "http://ftp.apnic.net/stats/apnic/legacy-apnic-latest",
    "http://ftp.apnic.net/stats/apnic/assigned-apnic-latest",
    "http://ftp.apnic.net/stats/apnic/delegated-apnic-latest",
    "http://ftp.apnic.net/stats/apnic/delegated-apnic-extended-latest",
    "http://ftp.apnic.net/stats/apnic/delegated-apnic-ipv6-assigned-latest",
    "http://ftp.arin.net/pub/originAS/originAS_arin-latest.txt",
    "http://ftp.arin.net/info/asn.txt"
  ],

  "rir_database_unused" : [
    "http://ftp.arin.net/pub/rr/ARIN.CURRENTSERIAL",
    "http://ftp.arin.net/pub/rr/arin.db",
    "http://ftp.ripe.net/ripe/dbase/RIPE.CURRENTSERIAL",
    "http://ftp.ripe.net/ripe/dbase/ripe.db.gz",
    "http://ftp.apnic.net/apnic/dbase/data/JPNIC.CURRENTSERIAL",
    "http://ftp.apnic.net/apnic/dbase/data/KRNIC.CURRENTSERIAL",
    "http://ftp.apnic.net/apnic/dbase/data/TWNIC.CURRENTSERIAL",
    "http://ftp.apnic.net/apnic/dbase/data/jpnic.db.gz",
    "http://ftp.apnic.net/apnic/dbase/data/krnic.db.gz",
    "http://ftp.apnic.net/apnic/dbase/data/twnic.in.gz",
    "http://ftp.apnic.net/apnic/dbase/data/twnic.pn.gz",
    "http://ftp.afrinic.net/dbase/AFRINIC.CURRENTSERIAL",
    "http://ftp.afrinic.net/dbase/afrinic.db.gz"
  ],

  "ct_logs": [
    "ct.googleapis.com/logs/argon2017/",
    "ct.googleapis.com/logs/argon2018/",
    "ct.googleapis.com/logs/argon2019/",
    "ct.googleapis.com/logs/argon2020/",
    "ct.googleapis.com/logs/argon2021/",
    "ct.googleapis.com/logs/argon2022/",
    "ct.googleapis.com/logs/xenon2018/",
    "ct.googleapis.com/logs/xenon2019/",
    "ct.googleapis.com/logs/xenon2020/",
    "ct.googleapis.com/logs/xenon2021/",
    "ct.googleapis.com/logs/xenon2022/",
    "ct.googleapis.com/aviator/",
    "ct.googleapis.com/icarus/",
    "ct.googleapis.com/pilot/",
    "ct.googleapis.com/rocketeer/",
    "ct.googleapis.com/skydiver/",
    "ct.googleapis.com/submariner/",
    "ct.googleapis.com/daedalus/",
    "ct.googleapis.com/testtube/",
    "ct.googleapis.com/logs/crucible/",
    "ct.googleapis.com/logs/solera2018/",
    "ct.googleapis.com/logs/solera2019/",
    "ct.googleapis.com/logs/solera2020/",
    "ct.googleapis.com/logs/solera2021/",
    "ct.googleapis.com/logs/solera2022/",
    "ct.cloudflare.com/logs/nimbus2017/",
    "ct.cloudflare.com/logs/nimbus2018/",
    "ct.cloudflare.com/logs/nimbus2019/",
    "ct.cloudflare.com/logs/nimbus2020/",
    "ct.cloudflare.com/logs/nimbus2021/",
    "ct1.digicert-ct.com/log/",
    "ct2.digicert-ct.com/log/",
    "yeti2018.ct.digicert.com/log/",
    "yeti2019.ct.digicert.com/log/",
    "yeti2020.ct.digicert.com/log/",
    "yeti2021.ct.digicert.com/log/",
    "yeti2022.ct.digicert.com/log/",
    "nessie2018.ct.digicert.com/log/",
    "nessie2019.ct.digicert.com/log/",
    "nessie2020.ct.digicert.com/log/",
    "nessie2021.ct.digicert.com/log/",
    "nessie2022.ct.digicert.com/log/",
    "ct.ws.symantec.com/",
    "vega.ws.symantec.com/",
    "deneb.ws.symantec.com/",
    "sirius.ws.symantec.com/",
    "log.certly.io/",
    "ct.izenpe.com/",
    "ct.izenpe.eus/",
    "ct.wosign.com/",
    "ctlog.wosign.com/",
    "ctlog2.wosign.com/",
    "ct.gdca.com.cn/",
    "ctlog.gdca.com.cn/",
    "log.gdca.com.cn/",
    "log2.gdca.com.cn/",
    "dodo.ct.comodo.com/",
    "ctlog.api.venafi.com/",
    "ctlog-gen2.api.venafi.com/",
    "ctserver.cnnic.cn/",
    "ct.startssl.com/",
    "www.certificatetransparency.cn/ct/",
    "sabre.ct.comodo.com/",
    "mammoth.ct.comodo.com/",
    "flimsy.ct.nordu.net:8080/",
    "plausible.ct.nordu.net/",
    "ctlog.sheca.com/",
    "ct.sheca.com/",
    "ct.akamai.com/",
    "alpha.ctlogs.org/",
    "clicky.ct.letsencrypt.org/",
    "ct.filippo.io/behindthesofa/"
  ]
}
